


body{
    
    font-family: 'Outfit', sans-serif;
    background-color: rgba(148, 189, 194, 0.397);
    font-size: 11px;
    color: hsl(0, 0%, 0%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 8px;
    text-align: center;
    height: 100vh; /* we needed to include height:100vh to make it full  another way you do it is by making body,html{ height:100%;}*/
    /*
    100VH would represent 100% of the viewport's height, or the full height of the screen. 
    And of course, VW stands for “viewport width”, which is the viewable screen's width. 
    100VW would represent 100% of the viewport's width, or the full width of the screen.*/
}

.content{
    background-color: white;
    max-width: 250px;
    padding: 10px;
    border: white solid 3px;
    border-radius: 10px;
    margin-bottom: 10px;
    
}

.text1{
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
    font-family: 'Outfit', sans-serif;
}

.text2{
    color: grey;
    font-family: 'Outfit', sans-serif;
}

img{
    width: 100%;
    max-width: 250px;
    max-height: 250px;
    border-radius: 5px;
}